@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Condensed:wght@400;700&family=Space+Mono&display=swap');

html {
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #dcdcdc;
    margin: 10rem 5%;
}

#main-navigation {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 1rem;
    position: fixed;
    top: 1rem;
    width: 90%;
    z-index: 2;
}

#main-navigation a {
    float: left;
    color: #1e9490;
    text-align: center;
    padding: 14px 16px;
}

#main-navigation a:link, 
#main-navigation a:visited {
    color: #1e9490;
}

#main-navigation a:hover, 
#main-navigation a:active {
    color: #7973b6;
}
